@charset "utf-8";
.bold {
  font-weight: bold;
}
body {
  background-color: #f0f5fa;
  color: #212b42;
}
.popup-window {
  opacity: 0;
  display: none;
  position: fixed;
  z-index: 100;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  -webkit-transition: .2s ease;
  -moz-transition: .2s ease;
  -ms-transition: .2s ease;
  -o-transition: .2s ease;
  transition: .2s ease;
}
.popup-window .content {
  position: absolute;
  z-index: 10;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  -ms-border-radius: 6px;
  -o-border-radius: 6px;
  border-radius: 6px;
  background-color: #fff;
  min-width: 300px;
  max-width: 80%;
  min-height: 200px;
  max-height: 80%;
  padding: 20px;
  -webkit-box-shadow: 3px 9px 100px rgba(27, 33, 45, 0.5);
  -moz-box-shadow: 3px 9px 100px rgba(27, 33, 45, 0.5);
  -ms-box-shadow: 3px 9px 100px rgba(27, 33, 45, 0.5);
  -o-box-shadow: 3px 9px 100px rgba(27, 33, 45, 0.5);
  box-shadow: 3px 9px 100px rgba(27, 33, 45, 0.5);
  overflow: hidden;
}
.popup-window .content .top {
  position: relative;
  z-index: 10;
  -webkit-box-shadow: 0px 15px 22px #fff;
  -moz-box-shadow: 0px 15px 22px #fff;
  -ms-box-shadow: 0px 15px 22px #fff;
  -o-box-shadow: 0px 15px 22px #fff;
  box-shadow: 0px 15px 22px #fff;
  background-color: #fff;
}
.popup-window .content .top .title h3 {
  font-size: 20px;
}
.popup-window .content .top .title h3 i {
  font-size: 16px;
}
.popup-window .content .top .title h3 span {
  font-size: 14px;
  opacity: .6;
  font-weight: normal;
  padding-left: 4px;
}
.popup-window .content .top .windowbut {
  position: absolute;
  right: 0;
  top: -4px;
  font-size: 16px;
}
.popup-window .content .top .windowbut i {
  padding: 6px 12px;
  cursor: pointer;
  border-radius: 100px;
}
.popup-window .content .top .windowbut i:hover {
  color: #397dff;
  -webkit-transition: 0.01s ease;
  -moz-transition: 0.01s ease;
  -ms-transition: 0.01s ease;
  -o-transition: 0.01s ease;
  transition: 0.01s ease;
}
.popup-window .content .center {
  padding: 13px 10px 20px 10px;
  overflow-y: auto;
  max-height: 500px;
  padding-bottom: 100px;
}
.popup-window .content .center::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px transparent;
  background-color: rgba(0, 0, 0, 0.1);
}
.popup-window .content .center::-webkit-scrollbar {
  width: 6px;
  background-color: transparent;
}
.popup-window .content .center::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.2);
  border-radius: 100px;
}
.popup-window .content .bottom {
  position: absolute;
  z-index: 10;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 60px;
  padding: 12px 0 0 0;
  background-color: #fff;
  overflow: hidden;
  -webkit-box-shadow: 0px -20px 30px #fff;
  -moz-box-shadow: 0px -20px 30px #fff;
  -ms-box-shadow: 0px -20px 30px #fff;
  -o-box-shadow: 0px -20px 30px #fff;
  box-shadow: 0px -20px 30px #fff;
}
.popup-window .content .bottom .text {
  padding-left: 20px;
  font-size: 14px;
  float: left;
  line-height: 40px;
}
.popup-window .content .bottom .button {
  float: right;
  padding-right: 20px;
}
.popup-window .content .bottom .button > * {
  padding: 10px 20px;
  margin-left: 14px;
  color: #fff;
  background-color: #b2b4bc;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  -ms-border-radius: 6px;
  -o-border-radius: 6px;
  border-radius: 6px;
  font-size: 14px;
  cursor: pointer;
}
.popup-window .content .bottom .button > *:hover {
  opacity: 0.9;
}
.popup-window .content .bottom .button .okbut {
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  -ms-border-radius: 6px;
  -o-border-radius: 6px;
  border-radius: 6px;
  color: #fff;
  background-color: #397dff;
  -webkit-box-shadow: 3px 9px 20px rgba(58, 155, 255, 0.26);
  -moz-box-shadow: 3px 9px 20px rgba(58, 155, 255, 0.26);
  -ms-box-shadow: 3px 9px 20px rgba(58, 155, 255, 0.26);
  -o-box-shadow: 3px 9px 20px rgba(58, 155, 255, 0.26);
  box-shadow: 3px 9px 20px rgba(58, 155, 255, 0.26);
  background: linear-gradient(0deg, #4494ff, #397dff);/* 渐变轴为45度，从蓝色渐变到红色 */
  /* 从右下到左上、从蓝色渐变到红色 */
  float: right;
}
.popup-window .content .bottom .button .nobut {
  float: right;
}
.popup-window .content .bottom .button .otherbut {
  float: right;
}
.popup-window .content .bottom:after {
  display: block;
  content: '';
  clear: both;
  height: 0;
}
.popup-window .content_full {
  width: 96%;
  max-width: 100%;
  height: 94%;
  max-height: 100%;
  left: 0;
  top: 0;
  padding: 2%;
  -webkit-transform: translate(0, 0);
  -moz-transform: translate(0, 0);
  -ms-transform: translate(0, 0);
  -o-transform: translate(0, 0);
  transform: translate(0, 0);
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
  -o-border-radius: 0;
  border-radius: 0;
}
.popup-window .content_full .center {
  max-height: 80%;
}
.popup-window .bg {
  position: absolute;
  z-index: 1;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  background-color: #101520;
  opacity: 0.7;
}
.popup-window.popupwindow_hide {
  opacity: 0;
}
