@charset "utf-8";

////////////前缀添加
.pre(@style,@value){
    -webkit-@{style}: @value;
       -moz-@{style}: @value;
        -ms-@{style}: @value;
         -o-@{style}: @value;
            @{style}: @value;
}
.animation(@value){
    .pre(animation,@value);
}
.transition(@arg){
    .pre(transition,@arg);
}
.transform(@d2d3){
    .pre(transform,@d2d3);
}
.box-shadow(@yy){
    .pre(box-shadow,@yy);
}
.border-radius(@yj){
    .pre(border-radius,@yj);
}


// .animation(telmov 2s infinite);
////////////初始化
//配色
@color_font:#212b42;//
@color_bg:@color_font;
@color_blue:rgba(57, 125, 255, 1);//#3779ff;

//内容未完阴影

.jianbian(@c){
    background: linear-gradient(0deg, @c-10, @c);
}

//字体
@font10:10px;
.fontsize (@fs) {font-size:10px * @fs;}
.lineheight (@lh) { line-height:10px * @lh;}
.bold {font-weight: bold;}
//阴影
@shadow:0 0 100px rgba(0, 0, 0, 0.2);
@shadow02:0 0 100px rgba(0, 0, 0, 0.4);
//清除浮动
.clearfloat(){display: block; content: ''; clear: both; height: 0;}
.clearfloat::after {.clearfloat()}
//按钮
.but01 (){
    .border-radius(6px);
    color:#fff;
    background-color: @color_blue;
    .box-shadow(3px 9px 20px rgba(58, 155, 255, 0.26));
    background: linear-gradient(0deg, #4494ff, @color_blue);
    /* 渐变轴为45度，从蓝色渐变到红色 *///linear-gradient(45deg, blue, red);
    /* 从右下到左上、从蓝色渐变到红色 *///linear-gradient(to left top, blue, red); 
}

.SP_calendar {
    border: 1px solid #eee; border-left: none; min-width: 700px; position: relative;  
    -moz-user-select:none;-webkit-user-select:none;user-select:none;   text-align: center;  
    .title {
        li { font-size: 16px; min-height: 30px; line-height: 30px; opacity: .6;  }
    }
    li { 
        float: left; position: relative;  width: 14.14%; min-height: 100px; 
        border-left: 1px solid #eee; border-bottom: 1px solid #eee;  
        &.nowweekend { background-color: #ddd; }
        &.othermonth { opacity: .5}
        &.nowmonth{ background-color: rgba(23,45,134,.2); }
        &.nowmonth.on { background-color: blue; }
        span { 
            font-size: 13px; display: block;
        }
        i.fa {
            position: absolute; right: 10px; top: 0; color:red;
        }
        
        .getDate { font-size: 24px; font-weight: 900; line-height: 24px; padding-top: 10px;}
        .nDate {
             line-height: 24px; opacity: .5;
        }
        .beizhu { 
            display: block; font-size: 14px; padding: 0 10px; line-height: 17px; height: 34px; 
            overflow: hidden;
        }


    }
    //色块
    li.p1,p.p1 { background: rgb(113, 58, 58);}
    li.p2,p.p2 { background: rgb(87, 87, 152);}
    li.p3,p.p3 { background: rgb(165, 165, 28);}
    li.p4,p.p4 { background: rgb(116, 113, 113);}
    //弹窗
    .popupbox {
        position: absolute; z-index: 10; left: 50%; top: 50%; 
        .transform(translate(-50%,-50%)); padding: 30px; 
        width: 200px;
        border-radius: 30px; .box-shadow(0 0 330px rgba(0, 0, 0, .2)); 
        box-shadow:0 30px 80px rgba(0, 0, 0, .3);
        background: #fff;
        font-size: 14px;
        p { 
            padding: 10px; margin: 10px; border-radius: 10px; text-align: center; color: #fff;
        }
        .date { font-size: 20px; font-weight: 900; }
        input { 
            width: 100%; line-height: 40px; background-color: #eee; border:1px solid #ddd; 
            text-indent: 20px; 
        }
    }
    
}
