@charset "utf-8";
.bold {
  font-weight: bold;
}
.clear_after:after {
  display: block;
  content: '';
  clear: both;
  height: 0;
}
.SP_tableContent {
  overflow-y: auto;
  line-height: 16px;
  font-size: 12.8px;
  position: relative;
  text-align: center;
  border-bottom: 1px solid rgba(131, 131, 131, 0.2);
}
.SP_tableContent .false_table {
  display: block;
  width: auto;
  -webkit-transition: 0s;
  -moz-transition: 0s;
  -ms-transition: 0s;
  -o-transition: 0s;
  transition: 0s;
}
.SP_tableContent .false_table th {
  -webkit-transition: 0s;
  -moz-transition: 0s;
  -ms-transition: 0s;
  -o-transition: 0s;
  transition: 0s;
}
.SP_tableContent.SP_table_sm th,
.SP_tableContent.SP_table_sm td {
  padding: 4.8px;
  border: 1px solid rgba(131, 131, 131, 0.2);
  font-size: 11.2px;
  line-height: 8px;
}
.SP_tableContent.SP_table_sm tr:nth-child(1) th {
  font-size: 10.4px;
}
.SP_tableContent.SP_table_sm .tbcheckbox {
  font-size: 1.2800000000000002px;
  width: 12.8px;
  height: 12.8px;
  line-height: 12.8px;
}
.SP_tableContent.SP_table_sm .tbcheckbox.on {
  font-size: 10.240000000000002px;
}
.SP_tableContent.SP_table_sm .tbradio {
  font-size: 1.2800000000000002px;
  width: 12.8px;
  height: 12.8px;
  line-height: 15.36px;
}
.SP_tableContent.SP_table_sm .tbradio.on {
  font-size: 8.959999999999999px;
}
.SP_tableContent.SP_table_lg th,
.SP_tableContent.SP_table_lg td {
  padding: 16px;
  border: 1px solid rgba(131, 131, 131, 0.2);
  font-size: 17.6px;
  line-height: 17.6px;
}
.SP_tableContent.SP_table_lg tr:nth-child(1) th {
  font-size: 19.2px;
}
.SP_tableContent.SP_table_lg .tbcheckbox {
  font-size: 2.4000000000000004px;
  width: 24px;
  height: 24px;
  line-height: 24px;
  text-indent: 24px;
}
.SP_tableContent.SP_table_lg .tbcheckbox.on {
  font-size: 19.200000000000003px;
}
.SP_tableContent.SP_table_lg .tbradio {
  font-size: 2.4000000000000004px;
  width: 24px;
  height: 24px;
  line-height: 28.799999999999997px;
}
.SP_tableContent.SP_table_lg .tbradio.on {
  font-size: 16.799999999999997px;
}
.SP_tableContent table {
  width: 100%;
}
.SP_tableContent table.true_table {
  width: 100%;
  display: table;
  height: auto;
}
.SP_tableContent table.true_table tr:nth-child(1) {
  color: #777f8e;
}
.SP_tableContent table tr td:nth-child(1),
.SP_tableContent table tr th:nth-child(1) {
  cursor: pointer;
}
.SP_tableContent table tr {
  white-space: nowrap;
}
.SP_tableContent table tr td {
  background-color: #fff;
  -webkit-transition: 0s;
  -moz-transition: 0s;
  -ms-transition: 0s;
  -o-transition: 0s;
  transition: 0s;
}
.SP_tableContent table tr:nth-child(2n) td {
  background-color: #f5f5f5;
}
.SP_tableContent table tr th {
  border: 1px solid #9399a5;
  font-size: 12.8px;
  background-color: #777f8e;
  color: #fff;
}
.SP_tableContent table tr th .tbcheckbox {
  background-color: #e6e8eb;
}
.SP_tableContent table tr:not(:nth-child(1)):hover td {
  background-color: #e3e3e3;
  border: 1px solid rgba(100, 100, 100, 0.2) .transition 0s;
}
.SP_tableContent table tr.select td {
  background-color: #bed4ff;
  border: 1px solid #a8bce2;
}
.SP_tableContent table tr.select:hover td {
  background-color: #9fc0ff;
}
.SP_tableContent table tr input[type=checkbox] {
  display: none;
}
.SP_tableContent table tr .tbcheckbox {
  font-size: 4.8px;
  width: 16px;
  height: 16px;
  text-align: center;
  line-height: 16px;
  -webkit-border-radius: 3.2px;
  -moz-border-radius: 3.2px;
  -ms-border-radius: 3.2px;
  -o-border-radius: 3.2px;
  border-radius: 3.2px;
  background-color: rgba(0, 0, 0, 0.2);
  text-indent: 16px;
  overflow: hidden;
  margin: 0 auto;
}
.SP_tableContent table tr .tbcheckbox.on {
  font-size: 12.8px;
  background-color: #397dff;
  text-indent: 0;
  opacity: 1;
}
.SP_tableContent table tr .tbcheckbox:after {
  content: "✓";
  color: #fff;
}
.SP_tableContent table tr input[type=radio] {
  display: none;
}
.SP_tableContent table tr .tbradio {
  font-size: 1.92px;
  width: 19.2px;
  height: 19.2px;
  text-align: center;
  line-height: 19.2px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  border-radius: 50%;
  background-color: rgba(0, 0, 0, 0.2);
  text-indent: 19.2px;
  overflow: hidden;
  margin: 0 auto;
}
.SP_tableContent table tr .tbradio.on {
  font-size: 11.52px;
  text-indent: 0;
  opacity: 1;
  background-color: #397dff;
}
.SP_tableContent table tr .tbradio:after {
  content: "●";
  color: #fff;
}
.SP_tableContent table th,
.SP_tableContent table td {
  padding: 10px 13px;
  border: 1px solid rgba(131, 131, 131, 0.2);
}
.SP_tableContent table tr .isfixed {
  box-shadow: 10px 5px 10px rgba(0, 0, 0, 0.2);
  position: relative;
  z-index: 5;
}
.SP_tableContent table th.isfixed {
  outline: 1px solid rgba(227, 227, 227, 0.2);
  border: none;
}
.SP_tableContent table td.isfixed {
  outline: 1px solid rgba(131, 131, 131, 0.2);
  border: none;
}
.SP_tableContent .true_table {
  position: relative;
  overflow: hidden;
}
.SP_tableContent .true_table:after,
.SP_tableContent .true_table:before {
  position: absolute;
  bottom: -20px;
  right: 0;
  z-index: 10;
  content: '';
  width: 100%;
  height: 3px;
  background-color: #777f8e;
}
.SP_tableContent .true_table:before {
  bottom: 0;
  right: -20px;
  width: 3px;
  height: 100%;
}
.SP_tableContent .true_table_bottom_end:after {
  -webkit-transform: scale(1, 50) translateY(-14%);
  -moz-transform: scale(1, 50) translateY(-14%);
  -ms-transform: scale(1, 50) translateY(-14%);
  -o-transform: scale(1, 50) translateY(-14%);
  transform: scale(1, 50) translateY(-14%);
  opacity: 0;
  -webkit-transition: 1s;
  -moz-transition: 1s;
  -ms-transition: 1s;
  -o-transition: 1s;
  transition: 1s;
}
.SP_tableContent .true_table_right_end:before {
  -webkit-transform: scale(50, 1) translateX(-14%);
  -moz-transform: scale(50, 1) translateX(-14%);
  -ms-transform: scale(50, 1) translateX(-14%);
  -o-transform: scale(50, 1) translateX(-14%);
  transform: scale(50, 1) translateX(-14%);
  opacity: 0;
  -webkit-transition: 1s;
  -moz-transition: 1s;
  -ms-transition: 1s;
  -o-transition: 1s;
  transition: 1s;
}
.SP_tableContent_blue {
  border-bottom: 1px solid rgba(126, 147, 186, 0.2);
}
.SP_tableContent_blue table tr {
  background-color: #fff;
}
.SP_tableContent_blue table tr:nth-child(2n) td {
  background-color: #ffffff;
}
.SP_tableContent_blue table tr th {
  border: 1px solid #6c9eff;
  background-color: #397dff;
  color: #fff;
}
.SP_tableContent_blue table tr th .tbcheckbox {
  background-color: #ffffff;
}
.SP_tableContent_blue table tr th .tbcheckbox.on {
  background-color: #ffffff;
}
.SP_tableContent_blue table tr th .tbcheckbox:after {
  color: #397dff;
}
.SP_tableContent_blue table tr:not(:nth-child(1)):hover,
.SP_tableContent_blue table tr.select {
  background-color: rgba(57, 125, 255, 0.26);
}
.SP_tableContent_blue table tr:not(:nth-child(1)):hover td,
.SP_tableContent_blue table tr.select td {
  border: 1px solid rgba(88, 114, 163, 0.2);
}
.SP_tableContent_blue table tr .tbcheckbox {
  background-color: rgba(0, 0, 0, 0.2);
}
.SP_tableContent_blue table tr .tbcheckbox.on {
  background-color: #397dff;
}
.SP_tableContent_blue table tr .tbcheckbox:after {
  color: #fff;
}
.SP_tableContent_blue table tr .tbradio {
  background-color: rgba(0, 0, 0, 0.2);
}
.SP_tableContent_blue table tr .tbradio:after {
  color: #397dff;
}
.SP_tableContent_blue table th,
.SP_tableContent_blue table td {
  padding: 10px 13px;
  border: 1px solid rgba(126, 147, 186, 0.2);
}
.SP_tableContent_green {
  border-bottom: 1px solid rgba(127, 127, 127, 0.2);
}
.SP_tableContent_green table tr {
  background-color: #fff;
}
.SP_tableContent_green table tr:nth-child(2n) td {
  background-color: #eaeaea;
}
.SP_tableContent_green table tr th {
  border: 1px solid #57da83;
  background-color: #2ed064;
  color: #fff;
}
.SP_tableContent_green table tr th .tbcheckbox {
  background-color: #d4f6df;
}
.SP_tableContent_green table tr th .tbcheckbox.on {
  background-color: #d4f6df;
}
.SP_tableContent_green table tr th .tbcheckbox:after {
  color: #2ed064;
}
.SP_tableContent_green table tr:not(:nth-child(1)):hover td,
.SP_tableContent_green table tr.select td {
  background-color: rgba(46, 208, 100, 0.26);
}
.SP_tableContent_green table tr:not(:nth-child(1)):hover td td,
.SP_tableContent_green table tr.select td td {
  border: 1px solid rgba(96, 96, 96, 0.2);
}
.SP_tableContent_green table tr .tbcheckbox {
  background-color: rgba(0, 0, 0, 0.2);
}
.SP_tableContent_green table tr .tbcheckbox.on {
  background-color: #2ed064;
}
.SP_tableContent_green table tr .tbcheckbox:after {
  color: #fff;
}
.SP_tableContent_green table tr .tbradio {
  background-color: rgba(0, 0, 0, 0.2);
}
.SP_tableContent_green table tr .tbradio:after {
  color: #2ed064;
}
.SP_tableContent_green table th,
.SP_tableContent_green table td {
  padding: 10px 13px;
  border: 1px solid rgba(127, 127, 127, 0.2);
}
.SP_tableContent_red {
  border-bottom: 1px solid rgba(172, 137, 133, 0.2);
}
.SP_tableContent_red table tr {
  background-color: #fff;
}
.SP_tableContent_red table tr:nth-child(2n) td {
  background-color: #ffffff;
}
.SP_tableContent_red table tr th {
  border: 1px solid #f77c6d;
  background-color: #f4513d;
  color: #fff;
}
.SP_tableContent_red table tr th .tbcheckbox {
  background-color: #fffefe;
}
.SP_tableContent_red table tr th .tbcheckbox.on {
  background-color: #fffefe;
}
.SP_tableContent_red table tr th .tbcheckbox:after {
  color: #f4513d;
}
.SP_tableContent_red table tr:not(:nth-child(1)):hover td,
.SP_tableContent_red table tr.select td {
  background-color: rgba(244, 81, 61, 0.26);
}
.SP_tableContent_red table tr:not(:nth-child(1)):hover td td,
.SP_tableContent_red table tr.select td td {
  border: 1px solid rgba(145, 104, 98, 0.2);
}
.SP_tableContent_red table tr .tbcheckbox {
  background-color: rgba(0, 0, 0, 0.2);
}
.SP_tableContent_red table tr .tbcheckbox.on {
  background-color: #f4513d;
}
.SP_tableContent_red table tr .tbcheckbox:after {
  color: #fff;
}
.SP_tableContent_red table tr .tbradio {
  background-color: rgba(0, 0, 0, 0.2);
}
.SP_tableContent_red table tr .tbradio:after {
  color: #f4513d;
}
.SP_tableContent_red table th,
.SP_tableContent_red table td {
  padding: 10px 13px;
  border: 1px solid rgba(172, 137, 133, 0.2);
}
.page123 {
  font-size: 14.399999999999999px;
  width: 98%;
  z-index: 20;
  padding: 20px 1%;
}
.page123 .page123_con {
  margin: 0 10px;
}
.page123 .pagenum {
  float: left;
}
.page123 .pagenum select {
  background-image: linear-gradient(-180deg, #fafbfc 0%, #eff3f6 90%);
  border: 1px solid rgba(27, 31, 35, 0.2);
  width: 60px;
  height: 30.24px;
}
.page123 .pagenum span {
  padding: 3px 0 0 11.52px;
}
.page123 .pagenum span b {
  color: red;
}
.page123 .pagebox {
  float: right;
}
.page123 .pagebox span,
.page123 .pagebox a {
  cursor: pointer;
  color: #000000;
  margin-left: 5.76px;
  padding: 5.039999999999999px 10.799999999999999px;
  font-size: 11.52px;
  -webkit-border-radius: 3.5999999999999996px;
  -moz-border-radius: 3.5999999999999996px;
  -ms-border-radius: 3.5999999999999996px;
  -o-border-radius: 3.5999999999999996px;
  border-radius: 3.5999999999999996px;
  display: inline-block;
  border: 1px solid rgba(27, 31, 35, 0.2);
}
.page123 .pagebox span:hover,
.page123 .pagebox a:hover {
  opacity: 0.95;
  -webkit-transform: translateY(-1px);
  -moz-transform: translateY(-1px);
  -ms-transform: translateY(-1px);
  -o-transform: translateY(-1px);
  transform: translateY(-1px);
  color: #fff;
  font-weight: normal;
  background-color: #777f8e;
  border-color: #777f8e;
  -webkit-box-shadow: 3px 9px 20px rgba(119, 127, 142, 0.3);
  -moz-box-shadow: 3px 9px 20px rgba(119, 127, 142, 0.3);
  -ms-box-shadow: 3px 9px 20px rgba(119, 127, 142, 0.3);
  -o-box-shadow: 3px 9px 20px rgba(119, 127, 142, 0.3);
  box-shadow: 3px 9px 20px rgba(119, 127, 142, 0.3);
  background: linear-gradient(0deg, #77828e, #777f8e);/* 渐变轴为45度，从蓝色渐变到红色 */
  /* 从右下到左上、从蓝色渐变到红色 */
}
.page123 .pagebox span:active,
.page123 .pagebox a:active {
  -webkit-box-shadow: inset 0 5px 5px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: inset 0 5px 5px rgba(0, 0, 0, 0.1);
  -ms-box-shadow: inset 0 5px 5px rgba(0, 0, 0, 0.1);
  -o-box-shadow: inset 0 5px 5px rgba(0, 0, 0, 0.1);
  box-shadow: inset 0 5px 5px rgba(0, 0, 0, 0.1);
  outline: none;
  -webkit-transform: translateY(1px);
  -moz-transform: translateY(1px);
  -ms-transform: translateY(1px);
  -o-transform: translateY(1px);
  transform: translateY(1px);
}
.page123 .pagebox span.not,
.page123 .pagebox a.not {
  opacity: .5;
  cursor: text;
}
.page123 .pagebox span.not:hover,
.page123 .pagebox a.not:hover {
  background-image: linear-gradient(-180deg, #fafbfc 0%, #eff3f6 90%);
  border: 1px solid rgba(27, 31, 35, 0.2);
}
.page123 .pagebox .go {
  margin: 0 0 0 0;
}
.page123 .pagebox input {
  width: 36px;
  line-height: 27.359999999999996px;
  height: 27.359999999999996px;
  border: 1px solid rgba(27, 31, 35, 0.2);
  text-align: center;
  -webkit-border-radius: 3.5999999999999996px;
  -moz-border-radius: 3.5999999999999996px;
  -ms-border-radius: 3.5999999999999996px;
  -o-border-radius: 3.5999999999999996px;
  border-radius: 3.5999999999999996px;
  color: #fff;
  font-weight: normal;
  background-color: #777f8e;
  border-color: #777f8e;
  -webkit-box-shadow: 3px 9px 20px rgba(119, 127, 142, 0.3);
  -moz-box-shadow: 3px 9px 20px rgba(119, 127, 142, 0.3);
  -ms-box-shadow: 3px 9px 20px rgba(119, 127, 142, 0.3);
  -o-box-shadow: 3px 9px 20px rgba(119, 127, 142, 0.3);
  box-shadow: 3px 9px 20px rgba(119, 127, 142, 0.3);
  background: linear-gradient(0deg, #77828e, #777f8e);/* 渐变轴为45度，从蓝色渐变到红色 */
  /* 从右下到左上、从蓝色渐变到红色 */
}
.page123:after {
  display: block;
  content: '';
  clear: both;
  height: 0;
}
.mouseArrowTips {
  position: fixed;
  z-index: 30;
  left: 5%;
  top: 5%;
  font-size: 20px;
  color: #fff;
  min-width: 30px;
  padding: 5px 10px;
  height: 30px;
  border-radius: 4px;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.5);
}
.SP_tableContent::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px transparent;
  background-color: rgba(0, 0, 0, 0.1);
}
.SP_tableContent::-webkit-scrollbar {
  width: 5px;
  height: 5px;
  background-color: transparent;
}
.SP_tableContent::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.2);
  border-radius: 100px;
}
.SP_tableContent_jiantou {
  position: absolute;
  z-index: 30;
  font-size: 20px;
  right: 3%;
  top: -15px;
  color: #777f8e;
}
